**Exercise 1: Create a Jupyter Notebook**

**Exercise 2: Create markdown cell with title of the notebook**

# Data Science Tools and Ecosystem

**Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Exercise 4 - Create a markdown cell to list data science languages**

Some of the popular languages that Data Scientists use are:  
1. Python
2. R
3. SQL and
4. so on ...

**Exercise 5 - Create a markdown cell to list data science libraries**

Some of the commonly used libraries used by Data Scientists include:  
1. Numpy
2. Pandas
3. matplotlib and
4. so on ...

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| Jupyter Lab        |
| Visual Studio Code |

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

### Below are a few examples of evaluating arithmetic expressions in Python

__Exercise 8 - Create a code cell to multiply and add numbers__

In [3]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

**Exercise 9 - Create a code cell to convert minutes to hours**

In [6]:
# This will convert 200 minutes to hours by diving by 60

print("200 minutes into hours:", 200/ 60, "hours")

200 minutes into hours: 3.3333333333333335 hours

**Exercise 10 - Insert a markdown cell to list Objectives**

**Objective:**  
List popular languages for Data Science   
* Python
* R
* SQL and
* so on ...

**Exercise 11 - Create a markdown cell to indicate the Author's name**

## Author
 Htet Aung Lynn

**Exercise 12 - Share your notebook through GitHub**

GitHub | [LINK](https://github.com/htetaunglynn94/coursera/blob/main/data_science_series/tools_for_ds/module_6/DataScienceEcosystem.ipynb)

__Exercise 13 -Take a screenshot of the first page of the notebook and save it__