<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="Skills Network Logo">
    </a>
</p>

# Test Environment for Generative AI classroom labs

This lab provides a test environment for the codes generated using the Generative AI classroom.

Follow the instructions below to set up this environment for further use.

# Setup

### Install required libraries

In case of a requirement of installing certain python libraries for use in your task, you may do so as shown below.

In [1]:
%pip install seaborn
import piplite

await piplite.install(['nbformat', 'plotly'])

### Dataset URL from the GenAI lab
Use the URL provided in the GenAI lab in the cell below.

In [2]:
URL = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-Coursera/laptop_pricing_dataset_mod1.csv"

**Prompt Question-1 to Gen AI model**  

Write a Python code that can perform the following tasks.
Read the CSV file, located on a given file path, into a Pandas data frame, assuming that the first rows of the file are the headers for the data.

**Result:**

Write a Python code that can perform the following tasks.
Read the CSV file, located on a given file path, into a Pandas data frame, assuming that the first rows of the file are the headers for the data.

Sure! Here is a Python code snippet that reads a CSV file into a Pandas data frame:

```python
import pandas as pd

# Specify the file path
file_path = "path/to/your/file.csv"

# Read the CSV file into a Pandas data frame
df = pd.read_csv(file_path)

# Display the data frame
print(df)
```


This code uses the `pd.read_csv()` function from the Pandas library to read the CSV file located at the specified `file_path` into a Pandas data frame. The data frame will automatically use the first row of the CSV file as the column headers.

In [3]:
from js import fetch
import pandas as pd
import io 

resp = await fetch(URL)
text = io.BytesIO((await resp.arrayBuffer()).to_py())
df=  pd.read_csv(text)
df.head()

<ipython-input-3-2389b0e99508>:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.560,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837

**Prompt Question-2 to Gen AI model**  
Write a Python code that identifies the columns with missing values in a pandas data frame.

**Result:**  
Certainly! Here is a Python code snippet that identifies the columns with missing values in a Pandas data frame:

```python
import pandas as pd

# Assuming 'df' is the Pandas data frame you want to check for missing values

# Get the columns with missing values
columns_with_missing_values = df.columns[df.isnull().any()]

# Display the columns with missing values
print("Columns with missing values:")
for column in columns_with_missing_values:
    print(column)
```

In this code snippet, we use the `isnull()` method to identify missing values in the data frame `df`. The `any()` method is then used to check if there are any missing values in each column. Finally, we retrieve the column names with missing values and display them.

In [4]:
df.isnull().sum()

Unnamed: 0        0
Manufacturer      0
Category          0
Screen            0
GPU               0
OS                0
CPU_core          0
Screen_Size_cm    4
CPU_frequency     0
RAM_GB            0
Storage_GB_SSD    0
Weight_kg         5
Price             0
dtype: int64

In [5]:
df.isnull().any()

Unnamed: 0        False
Manufacturer      False
Category          False
Screen            False
GPU               False
OS                False
CPU_core          False
Screen_Size_cm     True
CPU_frequency     False
RAM_GB            False
Storage_GB_SSD    False
Weight_kg          True
Price             False
dtype: bool

The usage of `any()` can be shown:-  
`True` if the column contains at least one missing value.  
`False` if the column has no missing values.

In [6]:
columns_with_missing_values = df.columns[df.isnull().any()]

# Display the columns with missing values
print("Columns with missing values:-")
for i, column in enumerate(columns_with_missing_values):
    print(f"{i+1}. {column}")

Columns with missing values:-
1. Screen_Size_cm
2. Weight_kg

**Prompt Question-3 to Gen AI model**  
Write a Python code to replace the missing values in a pandas data frame, per the following guidelines.
1. For a categorical attribute "Screen_Size_cm", replace the missing values with the most frequent value in the column.
2. For a continuous value attribute "Weight_kg", replace the missing values with the mean value of the entries in the column.

**Result:**  
Certainly! Here is a Python code snippet that replaces missing values in a Pandas data frame based on the guidelines you provided:

```python
import pandas as pd

# Assuming 'df' is the Pandas data frame you want to replace missing values in

# Replace missing values in the 'Screen_Size_cm' column with the most frequent value
most_frequent_screen_size = df['Screen_Size_cm'].mode()[0]
df['Screen_Size_cm'].fillna(most_frequent_screen_size, inplace=True)

# Replace missing values in the 'Weight_kg' column with the mean value
mean_weight = df['Weight_kg'].mean()
df['Weight_kg'].fillna(mean_weight, inplace=True)

# Display the data frame after replacing missing values
print(df)
```

In this code snippet, we first calculate the most frequent value for the 'Screen_Size_cm' column using the `mode()` method and the mean value for the 'Weight_kg' column using the `mean()` method. Then, we use the `fillna()` method to replace missing values in each column with the calculated values.

In [7]:
df['Screen_Size_cm'].mode() # return most frequent value

0    39.624
Name: Screen_Size_cm, dtype: float64

In [8]:
# Replace missing value with most frequent value
most_freq_scr_size = df['Screen_Size_cm'].mode()[0]
df['Screen_Size_cm'] = df['Screen_Size_cm'].fillna(most_freq_scr_size)

# Replace missing value with the mean value
mean_weight = df['Weight_kg'].mean()
df['Weight_kg'] = df['Weight_kg'].fillna(mean_weight)

df.sample(5)

,Unnamed: 0,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
109,109,Dell,4,Full HD,2,2,7,35.560,2.8,8,256,1.600000,1396
7,7,Acer,3,IPS Panel,2,1,5,38.100,1.6,4,256,2.200000,866
197,197,Lenovo,4,Full HD,2,1,7,35.560,2.7,8,256,1.320000,2361
33,33,Asus,3,Full HD,3,1,7,39.624,1.8,8,256,1.700000,1420
68,68,Dell,3,Full HD,1,2,7,39.624,1.8,8,256,1.862232,934

**Prompt Question-4 to Gen AI model**  
Write a Python code snippet to change the data type of the attributes "Screen_Size_cm" and "Weight_kg" of a data frame to float.

**Result:**  
Certainly! Here is a Python code snippet that changes the data type of the attributes "Screen_Size_cm" and "Weight_kg" in a Pandas data frame to float:

```python
import pandas as pd

# Assuming 'df' is the Pandas data frame you want to change the data types in

# Change the data type of 'Screen_Size_cm' to float
df['Screen_Size_cm'] = df['Screen_Size_cm'].astype(float)

# Change the data type of 'Weight_kg' to float
df['Weight_kg'] = df['Weight_kg'].astype(float)

# Display the data frame with the updated data types
print(df.dtypes)
```

In this code snippet, we use the `astype()` method to change the data type of the 'Screen_Size_cm' and 'Weight_kg' columns to float in the Pandas data frame `df`. Finally, we display the data types of all columns in the data frame to confirm the changes.

In [9]:
df['Screen_Size_cm'] = df['Screen_Size_cm'].astype(float)
df['Weight_kg'] = df['Weight_kg'].astype(float)

print("After changing data types")
display(df.dtypes)

After changing data types

Unnamed: 0          int64
Manufacturer       object
Category            int64
Screen             object
GPU                 int64
OS                  int64
CPU_core            int64
Screen_Size_cm    float64
CPU_frequency     float64
RAM_GB              int64
Storage_GB_SSD      int64
Weight_kg         float64
Price               int64
dtype: object

**Prompt Question-5 to Gen AI model**  
Write a Python code to modify the contents under the following attributes of the data frame as required.
1. Data under 'Screen_Size_cm' is assumed to be in centimeters. Convert this data into inches. Modify the name of the attribute to 'Screen_Size_inch'.
2. Data under 'Weight_kg' is assumed to be in kilograms. Convert this data into pounds. Modify the name of the attribute to 'Weight_pounds'.

**Result:**  
Certainly! Here is a Python code snippet that modifies the contents under the specified attributes in a Pandas data frame:

```python
import pandas as pd

# Assuming 'df' is the Pandas data frame you want to modify

# Convert 'Screen_Size_cm' data from centimeters to inches and rename the attribute
df['Screen_Size_inch'] = df['Screen_Size_cm'] * 0.393701  # 1 cm = 0.393701 inches
df.drop(columns=['Screen_Size_cm'], inplace=True)  # Drop the original 'Screen_Size_cm' column

# Convert 'Weight_kg' data from kilograms to pounds and rename the attribute
df['Weight_pounds'] = df['Weight_kg'] * 2.20462  # 1 kg = 2.20462 pounds
df.drop(columns=['Weight_kg'], inplace=True)  # Drop the original 'Weight_kg' column

# Display the data frame with the modified attributes
print(df)
```

In this code snippet, we first convert the 'Screen_Size_cm' data from centimeters to inches by multiplying by the conversion factor and rename the attribute to 'Screen_Size_inch'. Similarly, we convert the 'Weight_kg' data from kilograms to pounds, rename the attribute to 'Weight_pounds', and then display the modified data frame.

In [10]:
# Instead, I used 'rename()' method to save memory usage

df['Screen_Size_cm'] = df['Screen_Size_cm'] * 0.393701  # 1 cm = 0.393701 inches
df['Weight_kg'] = df['Weight_kg'] * 2.20462  # 1 kg = 2.20462 pounds
df.rename(columns={'Screen_Size_cm': 'Screen_Size_inch', 
                   'Weight_kg':'Weight_pounds'}, 
                   inplace=True)
df.columns

Index(['Unnamed: 0', 'Manufacturer', 'Category', 'Screen', 'GPU', 'OS',
       'CPU_core', 'Screen_Size_inch', 'CPU_frequency', 'RAM_GB',
       'Storage_GB_SSD', 'Weight_pounds', 'Price'],
      dtype='object')

**Prompt Question-6 to Gen AI model**  
Write a Python code to normalize the content under the attribute "CPU_frequency" in a data frame df concerning its maximum value. Make changes to the original data, and do not create a new attribute.

**Result:**  
Certainly! You can achieve this by using the following Python code:

```python
# Import necessary libraries
import pandas as pd

# Normalize the "CPU_frequency" column in the data frame df
max_value = df['CPU_frequency'].max()
df['CPU_frequency'] = df['CPU_frequency'] / max_value

# The original data frame df has been updated with the normalized values under the "CPU_frequency" attribute
```

This code snippet calculates the maximum value of the "CPU_frequency" attribute in the data frame and then normalizes all values under this attribute by dividing them by the maximum value. This will scale the values between 0 and 1, effectively normalizing the data.

In [11]:
df['CPU_frequency'].mean()

2.3600840336134454

In [12]:
# Normalize the "CPU_frequency" column in the data frame df
max_value = df['CPU_frequency'].max()
df['CPU_frequency'] = df['CPU_frequency'] / max_value
df['CPU_frequency'].mean()

0.8138220805563605

**Prompt Question-7 to Gen AI model**  
Write a Python code to perform the following tasks.
1. Convert a data frame df attribute "Screen", into indicator variables, saved as df1, with the naming convention "Screen_<unique value of the attribute>".
2. Append df1 into the original data frame df.
3. Drop the original attribute from the data frame df.
   
**Result:**  
Here is the Python code to perform the tasks you mentioned:

```python
import pandas as pd

# Create a sample data frame
data = {'Screen': ['LCD', 'OLED', 'LCD', 'LED', 'OLED']}
df = pd.DataFrame(data)

# Convert 'Screen' attribute into indicator variables
df1 = pd.get_dummies(df['Screen'], prefix='Screen')

# Append df1 into the original data frame df
df = pd.concat([df, df1], axis=1)

# Drop the original 'Screen' attribute from the data frame df
df.drop('Screen', axis=1, inplace=True)

print(df)
```

This code snippet uses the `pd.get_dummies()` function from the pandas library to convert the 'Screen' attribute into indicator variables with the specified naming convention. It then appends the new indicator variables to the original data frame and drops the original 'Screen' attribute.

In [16]:
df['Screen'].unique()

array(['IPS Panel', 'Full HD'], dtype=object)

In [19]:
df1 = pd.get_dummies(df['Screen'], prefix='Screen_')
df1.head()

   Screen__Full HD  Screen__IPS Panel
0            False               True
1             True              False
2             True              False
3            False               True
4             True              False

In [21]:
df = pd.concat([df, df1], axis=1)
df.drop('Screen', axis=1, inplace=True)

In [22]:
df.head()

,Unnamed: 0,Manufacturer,Category,GPU,OS,CPU_core,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_pounds,Price,Screen__Full HD,Screen__IPS Panel
0,0,Acer,4,2,1,5,14.000008,0.551724,8,256,3.527392,978,False,True
1,1,Dell,3,1,1,3,15.600008,0.689655,4,256,4.850164,634,True,False
2,2,Dell,3,1,1,7,15.600008,0.931034,8,256,4.850164,946,True,False
3,3,Dell,4,2,1,5,13.300007,0.551724,8,128,2.689636,1244,False,True
4,4,HP,4,2,1,7,15.600008,0.620690,8,256,4.210824,837,True,False

**Practice Problem**  
**<u>Prompt</u>**  
1. Create a prompt to generate a Python code that converts the values under Price from USD to Euros.
2. Modify the normalization prompt to perform min-max normalization on the CPU_frequency parameter.

**Result**  
Here is the prompt to generate a Python code that converts the values under Price from USD to Euros:

```python
# Create a sample data frame
data = {'Price': [100, 200, 150, 300, 250]}
df = pd.DataFrame(data)

# Convert values under 'Price' from USD to Euros
df['Price'] = df['Price'] * 0.85  # Assuming 1 USD = 0.85 Euros

print(df)
```

And here is the modified prompt to perform min-max normalization on the CPU_frequency parameter:

```python
# Create a sample data frame
data = {'CPU_frequency': [2.4, 3.0, 2.8, 3.2, 2.6]}
df = pd.DataFrame(data)

# Perform min-max normalization on the 'CPU_frequency' parameter
df['CPU_frequency'] = (df['CPU_frequency'] - df['CPU_frequency'].min()) / (df['CPU_frequency'].max() - df['CPU_frequency'].min())

print(df)
``` 

In the modified code snippet, the min-max normalization formula is applied to the 'CPU_frequency' parameter to scale the values between 0 and 1 based on the minimum and maximum values in the column.

In [24]:
# Assume 1 USD = 0.85 Euros
df['Price'] = df['Price'] * 0.85

#Perform min-max normalization on the 'CPU_frequency' column
cpu_freq = df['CPU_frequency']
df['CPU_frequency_n'] = (cpu_freq - cpu_freq.min()) / (cpu_freq.max() - cpu_freq.min())
df.head()

0      0.235294
1      0.470588
2      0.882353
3      0.235294
4      0.352941
         ...
233    0.823529
234    0.705882
235    0.823529
236    0.764706
237    0.647059
Name: CPU_frequency_n, Length: 238, dtype: float64

In [25]:
df.head()

,Unnamed: 0,Manufacturer,Category,GPU,OS,CPU_core,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_pounds,Price,Screen__Full HD,Screen__IPS Panel,CPU_frequency_n
0,0,Acer,4,2,1,5,14.000008,0.551724,8,256,3.527392,706.6050,False,True,0.235294
1,1,Dell,3,1,1,3,15.600008,0.689655,4,256,4.850164,458.0650,True,False,0.470588
2,2,Dell,3,1,1,7,15.600008,0.931034,8,256,4.850164,683.4850,True,False,0.882353
3,3,Dell,4,2,1,5,13.300007,0.551724,8,128,2.689636,898.7900,False,True,0.235294
4,4,HP,4,2,1,7,15.600008,0.620690,8,256,4.210824,604.7325,True,False,0.352941

### Downloading the dataset

Execute the following code to download the dataset in to the interface.

> Please note that this step is essential in JupyterLite. If you are using a downloaded version of this notebook and running it on JupyterLabs, then you can skip this step and directly use the URL in pandas.read_csv() function to read the dataset as a dataframe

In [13]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

path = URL

await download(path, "dataset.csv")

---

# Test Environment

In [14]:
# Keep appending the code generated to this cell, or add more cells below this to execute in parts

## Authors

[Abhishek Gagneja](https://www.linkedin.com/in/abhishek-gagneja-23051987/)

## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2023-12-10|0.1|Abhishek Gagneja|Initial Draft created|

Copyright Â© 2023 IBM Corporation. All rights reserved.