In [1]:
import sqlite3 as sq3
import pandas as pd

con = sq3.connect('FINALDB.db')
cur = con.cursor()

In [2]:
df = pd.read_csv('ChicagoCensusData.csv')
df.to_sql('CENSUS', con, if_exists='replace', index=True, method='multi')

df = pd.read_csv('ChicagoCrimeData.csv')
df.to_sql('CRIME', con, if_exists='replace', index=True, method='multi')

df = pd.read_csv('ChicagoPublicSchools .csv')
df.to_sql('SCHOOL', con, if_exists='replace', index=True, method='multi')

566

In [3]:
%load_ext sql
%sql sqlite:///FINALDB.db

## Problem 1
Find the total number of crimes recorded in the CRIME table.

In [6]:
%sql SELECT COUNT(*) FROM CRIME;

 * sqlite:///FINALDB.db
Done.

[(533,)]

## Problem 2
List community area names and numbers with per capita income less than 11000.

In [10]:
%%sql
SELECT COMMUNITY_AREA_NAME, COMMUNITY_AREA_NUMBER FROM CENSUS
WHERE PER_CAPITA_INCOME < 11000;

 * sqlite:///FINALDB.db
Done.

[('West Garfield Park', 26.0),
 ('South Lawndale', 30.0),
 ('Fuller Park', 37.0),
 ('Riverdale', 54.0)]

## Problem 3
List all case numbers for crimes involving minors? (children are not considered minors for the purposes of crime analysis)

In [37]:
%%sql 
SELECT CASE_NUMBER, PRIMARY_TYPE, DESCRIPTION FROM CRIME
WHERE DESCRIPTION LIKE '%MINOR%';

 * sqlite:///FINALDB.db
Done.

[('HL266884', 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR')]

## Problem 4
List all kidnapping crimes involving a child?

In [79]:
%%sql
SELECT PRIMARY_TYPE, DESCRIPTION FROM CRIME
WHERE PRIMARY_TYPE LIKE 'KIDNAPPING'
AND DESCRIPTION LIKE '%CHILD%';

 * sqlite:///FINALDB.db
Done.

[('KIDNAPPING', 'CHILD ABDUCTION/STRANGER')]

## Problem 5
List the kind of crimes that were recorded at schools. (No repetitions)

In [40]:
%%sql
SELECT DISTINCT PRIMARY_TYPE FROM CRIME
WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';

 * sqlite:///FINALDB.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

## Problem 6
List the type of schools along with the average safety score for each type.

In [49]:
%%sql
SELECT `Elementary, Middle, or High School`, AVG(SAFETY_SCORE) FROM SCHOOL
GROUP BY `Elementary, Middle, or High School`;

 * sqlite:///FINALDB.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

## Problem 7
List 5 community areas with heighest % of households below poverty line

In [52]:
%%sql
SELECT COMMUNITY_AREA_NAME FROM CENSUS
ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5;

 * sqlite:///FINALDB.db
Done.

[('Riverdale',),
 ('Fuller Park',),
 ('Englewood',),
 ('North Lawndale',),
 ('East Garfield Park',)]

## Problem 8
Which community area is most crime prone? Display the community area number only.

In [56]:
%%sql
SELECT COMMUNITY_AREA_NUMBER, COUNT(*) AS NUMBER_OF_CRIMES
FROM CRIME
GROUP BY COMMUNITY_AREA_NUMBER
ORDER BY NUMBER_OF_CRIMES DESC NULLS LAST LIMIT 1;

 * sqlite:///FINALDB.db
Done.

[(25.0, 43)]

## Problem 9
Use a sub-query to find the name of the community area with highest hardship index

In [59]:
%%sql
SELECT COMMUNITY_AREA_NAME FROM CENSUS
WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM CENSUS);

 * sqlite:///FINALDB.db
Done.

[('Riverdale',)]

## Problem 10
Use a sub-query to determine the Community Area Name with most number of crimes?

In [77]:
%%sql
SELECT COMMUNITY_AREA_NAME FROM CENSUS
WHERE COMMUNITY_AREA_NUMBER =
(SELECT COMMUNITY_AREA_NUMBER FROM CRIME
GROUP BY COMMUNITY_AREA_NUMBER
ORDER BY COUNT(*) DESC LIMIT 1);

 * sqlite:///FINALDB.db
Done.

[('Austin',)]