<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: API Examples
## Random User and Fruityvice API Examples


Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Load and use RandomUser API, using `RandomUser()` Python library
*   Load and use Fruityvice API, using `requests` Python library
*   Load and use Open-Joke-API, using `requests` Python library

The purpose of this notebook is to provide more examples on how to use simple APIs. As you have already learned from previous videos and notebooks, API stands for Application Programming Interface and is a software intermediary that allows two applications to talk to each other. 

The advantages of using APIs:
 *   **Automation**. Less human effort is required and workflows can be easily updated to become faster and more      
     productive.
 *   **Efficiency**. It allows to use the capabilities of one of the already developed APIs than to try to 
     independently implement some functionality from scratch.
 
The disadvantage of using APIs:
 *   **Security**. If the API is poorly integrated, it means it will be vulnerable to attacks, resulting in data breeches or losses having financial or reputation implications.

One of the applications we will use in this notebook is Random User Generator. RandomUser is an open-source, free API providing developers with randomly generated users to be used as placeholders for testing purposes. This makes the tool similar to Lorem Ipsum, but is a placeholder for people instead of text. The API can return multiple results, as well as specify generated user details such as gender, email, image, username, address, title, first and last name, and more. More information on [RandomUser](https://randomuser.me/documentation#intro) can be found here.

Another example of simple API we will use in this notebook is Fruityvice application. The Fruityvice API web service which provides data for all kinds of fruit! You can use Fruityvice to find out interesting information about fruit and educate yourself. The web service is completely free to use and contribute to.

## Example 1: RandomUser API
Bellow are Get Methods parameters that we can generate. For more information on the parameters, please visit this [documentation](https://randomuser.me/documentation) page.

## **Get Methods**

- get_cell()
- get_city()
- get_dob()
- get_email()
- get_first_name()
- get_full_name()
- get_gender()
- get_id()
- get_id_number()
- get_id_type()
- get_info()
- get_last_name()
- get_login_md5()
- get_login_salt()
- get_login_sha1()
- get_login_sha256()
- get_nat()
- get_password()
- get_phone()
- get_picture()
- get_postcode()
- get_registered()
- get_state()
- get_street()
- get_username()
- get_zipcode()

To start using the API you can install the `randomuser` library running the `pip install` command.

In [2]:
!pip install randomuser

Collecting randomuser
  Downloading randomuser-1.6.tar.gz (5.0 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: randomuser
  Building wheel for randomuser (setup.py) ... done
  Created wheel for randomuser: filename=randomuser-1.6-py3-none-any.whl size=5066 sha256=ebb161ec5cc3c18c37bce3133a0124282a373d557c63bf4355fa91c9fc7f86cb
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/21/10/7b/c13bc3e24a3c1000a34554802ad8aa0ff27df56366998a0473
Successfully built randomuser
Installing collected packages: randomuser
Successfully installed randomuser-1.6

Then, we will load the necessary libraries.

In [3]:
from randomuser import RandomUser
import pandas as pd

First, we will create a random user object, r.

In [4]:
r = RandomUser()

Then, using `generate_users()` function, we get a list of random 10 users.

In [5]:
some_list = r.generate_users(10)

In [6]:
some_list

[<randomuser.RandomUser at 0x7f58b7031ad0>,
 <randomuser.RandomUser at 0x7f58b7031b10>,
 <randomuser.RandomUser at 0x7f58b7031b50>,
 <randomuser.RandomUser at 0x7f58b7031b90>,
 <randomuser.RandomUser at 0x7f58b7031bd0>,
 <randomuser.RandomUser at 0x7f58b7031c50>,
 <randomuser.RandomUser at 0x7f58b7031c90>,
 <randomuser.RandomUser at 0x7f58b7031cd0>,
 <randomuser.RandomUser at 0x7f58b7031d10>,
 <randomuser.RandomUser at 0x7f58b7031c10>]

The **"Get Methods"** functions mentioned at the beginning of this notebook, can generate the required parameters to construct a dataset. For example, to get full name, we call `get_full_name()` function.

In [7]:
name = r.get_full_name()
name

'Jonathan Ortiz'

Let's say we only need 10 users with full names and their email addresses. We can write a "for-loop" to print these 10 users.

In [8]:
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

Erin Schalkwijk   erin.schalkwijk@example.com
John Cunningham   john.cunningham@example.com
Joselaine das Neves   joselaine.dasneves@example.com
Gül Tütüncü   gul.tutuncu@example.com
Lilija Rödel   lilija.rodel@example.com
Leah Wright   leah.wright@example.com
Demie Soepboer   demie.soepboer@example.com
Sander Nielsen   sander.nielsen@example.com
Rocco Bischof   rocco.bischof@example.com
Ehrentraud Kastl   ehrentraud.kastl@example.com

## Exercise 1
In this Exercise, generate photos of the random 10 users.

In [9]:
## Write your code here
for user in some_list:
    print(user.get_picture())

https://randomuser.me/api/portraits/women/30.jpg
https://randomuser.me/api/portraits/men/15.jpg
https://randomuser.me/api/portraits/women/9.jpg
https://randomuser.me/api/portraits/women/18.jpg
https://randomuser.me/api/portraits/women/33.jpg
https://randomuser.me/api/portraits/women/75.jpg
https://randomuser.me/api/portraits/women/6.jpg
https://randomuser.me/api/portraits/men/41.jpg
https://randomuser.me/api/portraits/men/26.jpg
https://randomuser.me/api/portraits/women/64.jpg

<details><summary>Click here for the solution</summary>

```python
for user in some_list:
    print (user.get_picture())
```

</details>

To generate a table with information about the users, we can write a function containing all desirable parameters. For example, name, gender, city, etc. The parameters will depend on the requirements of the test to be performed. We call the Get Methods, listed at the beginning of this notebook. Then, we return pandas dataframe with the users.

In [14]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),
                      "Gender":user.get_gender(),
                      "City":user.get_city(),
                      "State":user.get_state(),
                      "Email":user.get_email(), 
                      "DOB":user.get_dob(),
                      "Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [15]:
get_users()

,Name,Gender,City,State,Email,DOB,Picture
0,Kirk Daniels,male,Drogheda,Fingal,kirk.daniels@example.com,1989-12-25T19:40:38.364Z,https://randomuser.me/api/portraits/men/56.jpg
1,Patricia Smythe,female,Arklow,Donegal,patricia.smythe@example.com,1984-06-14T05:15:11.143Z,https://randomuser.me/api/portraits/women/2.jpg
2,Witold Boldt,male,Ravenstein,Mecklenburg-Vorpommern,witold.boldt@example.com,1970-12-16T01:42:05.828Z,https://randomuser.me/api/portraits/men/62.jpg
3,Tracey Sims,female,Edinburgh,Strathclyde,tracey.sims@example.com,1975-01-15T00:20:09.869Z,https://randomuser.me/api/portraits/women/63.jpg
4,Ariana Harris,female,New Plymouth,Hawke'S Bay,ariana.harris@example.com,1980-08-13T21:31:09.391Z,https://randomuser.me/api/portraits/women/6.jpg
5,Soraja Egelmeers,female,Hieslum,Overijssel,soraja.egelmeers@example.com,1949-06-09T18:10:41.160Z,https://randomuser.me/api/portraits/women/56.jpg
6,Silje Thomsen,female,Randers Nø,Syddanmark,silje.thomsen@example.com,1978-10-12T11:08:27.446Z,https://randomuser.me/api/portraits/women/54.jpg
7,Siegmund Haus,male,Weißensee,Brandenburg,siegmund.haus@example.com,1982-08-03T05:29:21.315Z,https://randomuser.me/api/portraits/men/19.jpg
8,Sami Gran,male,Kristiansund,Troms - Romsa,sami.gran@example.com,1948-09-05T11:11:50.696Z,https://randomuser.me/api/portraits/men/48.jpg
9,Madeleine Swoboda,female,Simbach am Inn,Rheinland-Pfalz,madeleine.swoboda@example.com,1985-12-17T02:13:28.321Z,https://randomuser.me/api/portraits/women/81.jpg

In [20]:
df1 = pd.DataFrame(get_users())  
df1.head()

,Name,Gender,City,State,Email,DOB,Picture
0,Oliver Morris,male,Tauranga,West Coast,oliver.morris@example.com,1956-08-04T16:00:48.866Z,https://randomuser.me/api/portraits/men/34.jpg
1,Aksel Duong,male,Vardø,Vest-Agder,aksel.duong@example.com,1982-10-01T00:02:18.186Z,https://randomuser.me/api/portraits/men/90.jpg
2,Mathias Kristensen,male,Snertinge,Danmark,mathias.kristensen@example.com,1986-01-24T21:17:11.335Z,https://randomuser.me/api/portraits/men/21.jpg
3,Raphaël Dufour,male,Tours,Lot,raphael.dufour@example.com,1974-10-15T23:25:57.249Z,https://randomuser.me/api/portraits/men/36.jpg
4,Eleanor Gregory,female,Cork,Kerry,eleanor.gregory@example.com,1978-08-22T21:43:55.177Z,https://randomuser.me/api/portraits/women/86.jpg

In [19]:
dfe = get_users()
dfe.head()

,Name,Gender,City,State,Email,DOB,Picture
0,Dylan Nguyen,male,Port Macquarie,Australian Capital Territory,dylan.nguyen@example.com,1969-04-21T09:04:17.924Z,https://randomuser.me/api/portraits/men/85.jpg
1,Gonca Beşerler,female,İzmir,Gümüşhane,gonca.beserler@example.com,1952-02-06T20:55:17.011Z,https://randomuser.me/api/portraits/women/58.jpg
2,Ernesto Santana,male,Elche,Galicia,ernesto.santana@example.com,1994-04-21T17:02:20.361Z,https://randomuser.me/api/portraits/men/61.jpg
3,Oona Ahola,female,Pello,Päijät-Häme,oona.ahola@example.com,1950-07-02T02:43:29.598Z,https://randomuser.me/api/portraits/women/49.jpg
4,Ezra Roberts,male,Tauranga,Bay of Plenty,ezra.roberts@example.com,1990-04-20T21:24:37.832Z,https://randomuser.me/api/portraits/men/68.jpg

Now we have a *pandas* dataframe that can be used for any testing purposes that the tester might have.

## Example 2: Fruityvice API

Another, more common way to use APIs, is through `requests` library. The next lab, Requests and HTTP, will contain more information about requests.

We will start by importing all required libraries.

In [21]:
import requests
import json

We will obtain the [fruityvice](https://www.fruityvice.com) API data using `requests.get("url")` function. The data is in a json format.

In [22]:
data = requests.get("https://fruityvice.com/api/fruit/all")

We will retrieve results using `json.loads()` function.

In [23]:
data.text

'[{"name":"Persimmon","id":52,"family":"Ebenaceae","order":"Rosales","genus":"Diospyros","nutritions":{"calories":81,"fat":0.0,"sugar":18.0,"carbohydrates":18.0,"protein":0.0}},{"name":"Strawberry","id":3,"family":"Rosaceae","order":"Rosales","genus":"Fragaria","nutritions":{"calories":29,"fat":0.4,"sugar":5.4,"carbohydrates":5.5,"protein":0.8}},{"name":"Banana","id":1,"family":"Musaceae","order":"Zingiberales","genus":"Musa","nutritions":{"calories":96,"fat":0.2,"sugar":17.2,"carbohydrates":22.0,"protein":1.0}},{"name":"Tomato","id":5,"family":"Solanaceae","order":"Solanales","genus":"Solanum","nutritions":{"calories":74,"fat":0.2,"sugar":2.6,"carbohydrates":3.9,"protein":0.9}},{"name":"Pear","id":4,"family":"Rosaceae","order":"Rosales","genus":"Pyrus","nutritions":{"calories":57,"fat":0.1,"sugar":10.0,"carbohydrates":15.0,"protein":0.4}},{"name":"Durian","id":60,"family":"Malvaceae","order":"Malvales","genus":"Durio","nutritions":{"calories":147,"fat":5.3,"sugar":6.75,"carbohydrates":27.1,"protein":1.5}},{"name":"Blackberry","id":64,"family":"Rosaceae","order":"Rosales","genus":"Rubus","nutritions":{"calories":40,"fat":0.4,"sugar":4.5,"carbohydrates":9.0,"protein":1.3}},{"name":"Lingonberry","id":65,"family":"Ericaceae","order":"Ericales","genus":"Vaccinium","nutritions":{"calories":50,"fat":0.34,"sugar":5.74,"carbohydrates":11.3,"protein":0.75}},{"name":"Kiwi","id":66,"family":"Actinidiaceae","order":"Struthioniformes","genus":"Apteryx","nutritions":{"calories":61,"fat":0.5,"sugar":9.0,"carbohydrates":15.0,"protein":1.1}},{"name":"Lychee","id":67,"family":"Sapindaceae","order":"Sapindales","genus":"Litchi","nutritions":{"calories":66,"fat":0.44,"sugar":15.0,"carbohydrates":17.0,"protein":0.8}},{"name":"Pineapple","id":10,"family":"Bromeliaceae","order":"Poales","genus":"Ananas","nutritions":{"calories":50,"fat":0.12,"sugar":9.85,"carbohydrates":13.12,"protein":0.54}},{"name":"Fig","id":68,"family":"Moraceae","order":"Rosales","genus":"Ficus","nutritions":{"calories":74,"fat":0.3,"sugar":16.0,"carbohydrates":19.0,"protein":0.8}},{"name":"Gooseberry","id":69,"family":"Grossulariaceae","order":"Saxifragales","genus":"Ribes","nutritions":{"calories":44,"fat":0.6,"sugar":0.0,"carbohydrates":10.0,"protein":0.9}},{"name":"Passionfruit","id":70,"family":"Passifloraceae","order":"Malpighiales","genus":"Passiflora","nutritions":{"calories":97,"fat":0.7,"sugar":11.2,"carbohydrates":22.4,"protein":2.2}},{"name":"Plum","id":71,"family":"Rosaceae","order":"Rosales","genus":"Prunus","nutritions":{"calories":46,"fat":0.28,"sugar":9.92,"carbohydrates":11.4,"protein":0.7}},{"name":"Orange","id":2,"family":"Rutaceae","order":"Sapindales","genus":"Citrus","nutritions":{"calories":43,"fat":0.2,"sugar":8.2,"carbohydrates":8.3,"protein":1.0}},{"name":"GreenApple","id":72,"family":"Rosaceae","order":"Rosales","genus":"Malus","nutritions":{"calories":21,"fat":0.1,"sugar":6.4,"carbohydrates":3.1,"protein":0.4}},{"name":"Raspberry","id":23,"family":"Rosaceae","order":"Rosales","genus":"Rubus","nutritions":{"calories":53,"fat":0.7,"sugar":4.4,"carbohydrates":12.0,"protein":1.2}},{"name":"Watermelon","id":25,"family":"Cucurbitaceae","order":"Cucurbitales","genus":"Citrullus","nutritions":{"calories":30,"fat":0.2,"sugar":6.0,"carbohydrates":8.0,"protein":0.6}},{"name":"Lemon","id":26,"family":"Rutaceae","order":"Sapindales","genus":"Citrus","nutritions":{"calories":29,"fat":0.3,"sugar":2.5,"carbohydrates":9.0,"protein":1.1}},{"name":"Mango","id":27,"family":"Anacardiaceae","order":"Sapindales","genus":"Mangifera","nutritions":{"calories":60,"fat":0.38,"sugar":13.7,"carbohydrates":15.0,"protein":0.82}},{"name":"Blueberry","id":33,"family":"Rosaceae","order":"Rosales","genus":"Fragaria","nutritions":{"calories":29,"fat":0.4,"sugar":5.4,"carbohydrates":5.5,"protein":0.0}},{"name":"Apple","id":6,"family":"Rosaceae","order":"Rosales","genus":"Malus","nutritions":{"calories":52,"fat":0.4,"sugar":10.3,"carbohydrates":11.4,"protein":0.3}},{"name":"Guava","id":37,"family":"Myrtaceae","order":"Myrtales","genus":"Psidium","nutritions":{"calories":68,"fat":1.0,"sugar":9.0,"carbohydrates":14.0,"protein":2.6}},{"name":"Apricot","id":35,"family":"Rosaceae","order":"Rosales","genus":"Prunus","nutritions":{"calories":15,"fat":0.1,"sugar":3.2,"carbohydrates":3.9,"protein":0.5}},{"name":"Melon","id":41,"family":"Cucurbitaceae","order":"Cucurbitaceae","genus":"Cucumis","nutritions":{"calories":34,"fat":0.0,"sugar":8.0,"carbohydrates":8.0,"protein":0.0}},{"name":"Tangerine","id":77,"family":"Rutaceae","order":"Sapindales","genus":"Citrus","nutritions":{"calories":45,"fat":0.4,"sugar":9.1,"carbohydrates":8.3,"protein":0.0}},{"name":"Pitahaya","id":78,"family":"Cactaceae","order":"Caryophyllales","genus":"Cactaceae","nutritions":{"calories":36,"fat":0.4,"sugar":3.0,"carbohydrates":7.0,"protein":1.0}},{"name":"Lime","id":44,"family":"Rutaceae","order":"Sapindales","genus":"Citrus","nutritions":{"calories":25,"fat":0.1,"sugar":1.7,"carbohydrates":8.4,"protein":0.3}},{"name":"Pomegranate","id":79,"family":"Lythraceae","order":"Myrtales","genus":"Punica","nutritions":{"calories":83,"fat":1.2,"sugar":13.7,"carbohydrates":18.7,"protein":1.7}},{"name":"Dragonfruit","id":80,"family":"Cactaceae","order":"Caryophyllales","genus":"Selenicereus","nutritions":{"calories":60,"fat":1.5,"sugar":8.0,"carbohydrates":9.0,"protein":9.0}},{"name":"Grape","id":81,"family":"Vitaceae","order":"Vitales","genus":"Vitis","nutritions":{"calories":69,"fat":0.16,"sugar":16.0,"carbohydrates":18.1,"protein":0.72}},{"name":"Morus","id":82,"family":"Moraceae","order":"Rosales","genus":"Morus","nutritions":{"calories":43,"fat":0.39,"sugar":8.1,"carbohydrates":9.8,"protein":1.44}},{"name":"Feijoa","id":76,"family":"Myrtaceae","order":"Myrtoideae","genus":"Sellowiana","nutritions":{"calories":44,"fat":0.4,"sugar":3.0,"carbohydrates":8.0,"protein":0.6}},{"name":"Avocado","id":84,"family":"Lauraceae","order":"Laurales","genus":"Persea","nutritions":{"calories":160,"fat":14.66,"sugar":0.66,"carbohydrates":8.53,"protein":2.0}},{"name":"Kiwifruit","id":85,"family":"Actinidiaceae","order":"Ericales","genus":"Actinidia","nutritions":{"calories":61,"fat":0.5,"sugar":8.9,"carbohydrates":14.6,"protein":1.14}},{"name":"Cranberry","id":87,"family":"Ericaceae","order":"Ericales","genus":"Vaccinium","nutritions":{"calories":46,"fat":0.1,"sugar":4.0,"carbohydrates":12.2,"protein":0.4}},{"name":"Cherry","id":9,"family":"Rosaceae","order":"Rosales","genus":"Prunus","nutritions":{"calories":50,"fat":0.3,"sugar":8.0,"carbohydrates":12.0,"protein":1.0}},{"name":"Peach","id":86,"family":"Rosaceae","order":"Rosales","genus":"Prunus","nutritions":{"calories":39,"fat":0.25,"sugar":8.4,"carbohydrates":9.5,"protein":0.9}},{"name":"Jackfruit","id":94,"family":"Moraceae","order":"Rosales","genus":"Artocarpus","nutritions":{"calories":95,"fat":0.0,"sugar":19.1,"carbohydrates":23.2,"protein":1.72}},{"name":"Horned Melon","id":95,"family":"Cucurbitaceae","order":"Cucurbitales","genus":"Cucumis","nutritions":{"calories":44,"fat":1.26,"sugar":0.5,"carbohydrates":7.56,"protein":1.78}},{"name":"Hazelnut","id":96,"family":"Betulaceae","order":"Fagales","genus":"Corylus","nutritions":{"calories":628,"fat":61.0,"sugar":4.3,"carbohydrates":17.0,"protein":15.0}},{"name":"Pomelo","id":98,"family":"Rutaceae","order":"Sapindales","genus":"Citrus","nutritions":{"calories":37,"fat":0.0,"sugar":8.5,"carbohydrates":9.67,"protein":0.82}},{"name":"Mangosteen","id":99,"family":"Clusiaceae","order":"Malpighiales","genus":"Garcinia","nutritions":{"calories":73,"fat":0.58,"sugar":16.11,"carbohydrates":17.91,"protein":0.41}},{"name":"Pumpkin","id":100,"family":"Cucurbitaceae","order":"Cucurbitales","genus":"Cucurbita","nutritions":{"calories":25,"fat":0.3,"sugar":3.3,"carbohydrates":4.6,"protein":1.1}},{"name":"Japanese Persimmon","id":101,"family":" Ebenaceae","order":" Ericales","genus":"Diospyros","nutritions":{"calories":70,"fat":0.2,"sugar":13.0,"carbohydrates":19.0,"protein":0.6}},{"name":"Papaya","id":42,"family":"Caricaceae","order":"Brassicales","genus":"Carica","nutritions":{"calories":39,"fat":0.3,"sugar":4.4,"carbohydrates":5.8,"protein":0.5}},{"name":"Annona","id":103,"family":"Annonaceae","order":"Rosales","genus":"Annonas","nutritions":{"calories":92,"fat":0.29,"sugar":3.4,"carbohydrates":19.1,"protein":1.5}},{"name":"Ceylon Gooseberry","id":104,"family":"Salicaceae","order":"Malpighiales","genus":"Dovyalis","nutritions":{"calories":47,"fat":0.3,"sugar":8.1,"carbohydrates":9.6,"protein":1.2}}]'

In [29]:
results = json.loads(data.text)
type(results)

list

We will convert our json data into *pandas* data frame.

In [27]:
pd.DataFrame(results).head()

,name,id,family,order,genus,nutritions
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."
1,Strawberry,3,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."
2,Banana,1,Musaceae,Zingiberales,Musa,"{'calories': 96, 'fat': 0.2, 'sugar': 17.2, 'c..."
3,Tomato,5,Solanaceae,Solanales,Solanum,"{'calories': 74, 'fat': 0.2, 'sugar': 2.6, 'ca..."
4,Pear,4,Rosaceae,Rosales,Pyrus,"{'calories': 57, 'fat': 0.1, 'sugar': 10.0, 'c..."

The result is in a nested json format. The 'nutrition' column contains multiple subcolumns, so the data needs to be 'flattened' or normalized.

In [31]:
df2 = pd.json_normalize(results)

In [33]:
df2.head()

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.0,18.0,18.0,0.0
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.4,5.4,5.5,0.8
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.2,17.2,22.0,1.0
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.2,2.6,3.9,0.9
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.1,10.0,15.0,0.4

Let's see if we can extract some information from this dataframe. Perhaps, we need to know the family and genus of a cherry.

In [36]:
cherry = df2.loc[df2["name"] == 'Cherry']
display(cherry)
(cherry.iloc[0]['family']), (cherry.iloc[0]['genus'])

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
37,Cherry,9,Rosaceae,Rosales,Prunus,50,0.3,8.0,12.0,1.0

('Rosaceae', 'Prunus')

## Exercise 2
In this Exercise, find out how many calories are contained in a banana.

In [39]:
# Write your code here
banana = df2.loc[df2['name'] == 'Banana']
banana.iloc[0]['nutritions.calories']

96

<details><summary>Click here for the solution</summary>

```python
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.calories']
```

</details>

## Exercise 3

This [page](https://mixedanalytics.com/blog/list-actually-free-open-no-auth-needed-apis/) contains a list of free public APIs for you to practice. Let us deal with the following example.

#### Official Joke API 
This API returns random jokes from a database. The following URL can be used to retrieve 10 random jokes.

https://official-joke-api.appspot.com/jokes/ten

1. Using `requests.get("url")` function, load the data from the URL.

In [41]:
# Write your code here
url = 'https://official-joke-api.appspot.com/jokes/ten'
data = requests.get(url)
data

<details><summary>Click here for the solution</summary>

```python
data2 = requests.get("https://official-joke-api.appspot.com/jokes/ten")
```

</details>

2. Retrieve results using `json.loads()` function.

In [44]:
# Write your code here
json_data = json.loads(data.text)
json_data

[{'type': 'general',
  'setup': 'Did you hear that David lost his ID in prague?',
  'punchline': 'Now we just have to call him Dav.',
  'id': 97},
 {'type': 'general',
  'setup': 'What did the traffic light say to the car as it passed?',
  'punchline': "Don't look I'm changing!",
  'id': 187},
 {'type': 'general',
  'setup': 'What do you call a group of killer whales playing instruments?',
  'punchline': 'An Orca-stra.',
  'id': 212},
 {'type': 'general',
  'setup': 'Why are pirates called pirates?',
  'punchline': 'Because they arrr!',
  'id': 309},
 {'type': 'general',
  'setup': 'What cheese can never be yours?',
  'punchline': 'Nacho cheese.',
  'id': 158},
 {'type': 'general',
  'setup': 'What is the difference between ignorance and apathy?',
  'punchline': "I don't know and I don't care.",
  'id': 249},
 {'type': 'general',
  'setup': 'How does a dyslexic poet write?',
  'punchline': 'Inverse.',
  'id': 133},
 {'type': 'general',
  'setup': 'Finally realized why my plant sits around doing nothing all day...',
  'punchline': 'He loves his pot.',
  'id': 46},
 {'type': 'general',
  'setup': 'Why did Sweden start painting barcodes on the sides of their battleships?',
  'punchline': 'So they could Scandinavian.',
  'id': 318},
 {'type': 'general',
  'setup': 'Why are “Dad Jokes” so good?',
  'punchline': 'Because the punchline is apparent.',
  'id': 382}]

<details><summary>Click here for the solution</summary>

```python
results2 = json.loads(data2.text)
```

</details>

3. Convert json data into *pandas* data frame. Drop the type and id columns.

In [47]:
# Write your code here
result = pd.DataFrame(json_data)
result.drop(columns=['type','id'], inplace=True)
result

,setup,punchline
0,Did you hear that David lost his ID in prague?,Now we just have to call him Dav.
1,What did the traffic light say to the car as i...,Don't look I'm changing!
2,What do you call a group of killer whales play...,An Orca-stra.
3,Why are pirates called pirates?,Because they arrr!
4,What cheese can never be yours?,Nacho cheese.
5,What is the difference between ignorance and a...,I don't know and I don't care.
6,How does a dyslexic poet write?,Inverse.
7,Finally realized why my plant sits around doin...,He loves his pot.
8,Why did Sweden start painting barcodes on the ...,So they could Scandinavian.
9,Why are “Dad Jokes” so good?,Because the punchline is apparent.

<details><summary>Click here for the solution</summary>

```python
df3 = pd.DataFrame(results2)
df3.drop(columns=["type","id"],inplace=True)
df3
```

</details>

# Congratulations! - You have completed the lab

## Author
<a href="https://www.linkedin.com/in/svitlana-kramar" target="_blank">Svitlana Kramar</a>

Svitlana is a master’s degree Data Science and Analytics student at University of Calgary, who enjoys travelling, learning new languages and cultures and loves spreading her passion for Data Science.

## Additional Contributor
<a href="https://www.linkedin.com/in/abhishek-gagneja-23051987/" target="_blank">Abhishek Gagneja</a>

Copyright © 2023 IBM Corporation. All rights reserved.